body {
  background: url('../images/redtape1.png') no-repeat;
  /* backdrop-filter: blur(9px); */
  transition:all 0.9s;
  -webkit-transition:all 0.9s;
  -o-transition:all 0.9s;
  -moz-transition:all 0.9s;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  height: 100vh;
}
.searchBox {
    position: relative;
    z-index: 2;
}
.searchDeptBox, .searchAccountBox {
    position: relative;
    z-index: 1;
}
  .searchDeptResults, .searchAccountResults {
    position: absolute; /* or fixed, depending on your needs */
    z-index: 100000;
    top: 100%; /* position it right below the input */
    left: 0;
    width: 350px; /* or whatever width you prefer */
  }
  .searchResults {
    position: absolute; /* or fixed, depending on your needs */
    z-index: 100005;
    top: 100%; /* position it right below the input */
    width: 350px; /* or whatever width you prefer */
  }